h1{
    color: red;
    font-size: 100px;
}

img{
    background-color: red;
}

.bacon{
    background-color: green;
}

.apple{
    background-color: yellow;
}

.circular {
    border-radius: 100px;
}

#tittle{
    color: blue;
}
